.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: black;
    padding-left: 5%;
    padding-right: 7%;
    position: relative;
    z-index: 90;
}
.img-div {
    max-width: 150px;
    width: 100%;
    max-height: 130px;
    height: 100%;
    display: flex;
    align-items: center;

}
.logo{
    max-width: 150px;
    width: 100%;
    max-height: 130px;
    height: 100%;
    cursor: pointer;
}
.nav-text {
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    cursor: pointer;
    transition: linear 0.3s;
}
.nav-text:hover {
    color: #B80F14;
}
.nav-div {
    max-width: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
}
.expanding-nav-div1 {
    max-width: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;

}
.expanding-nav-div2 {
    display: flex;
    justify-content: center;
    max-width: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.dropdown1{
    position: absolute;
    right: 26%;
    top: 100%;
    z-index: 101;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    background-color: black;
    height: 200%;
    max-width: 250px;
    width: 100%;

}
.dropdown2 {
    position: absolute;
    right: 9%;
    top: 100%;
    z-index: 100;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    height: 200%;
    max-width: 250px;
    width: 100%;

}
.expanding-nav-div1:hover .dropdown1{display: flex;}
.expanding-nav-div2:hover .dropdown2{display: flex;}
.dropdown1:hover {display: flex;}
.dropdown2:hover {display: flex;}
.dropdown-text {
    color: white;
    font-family: 'Montserrat';
    transition: linear 0.3s;
}
.dropdown-text:hover{
    color: #B80F14;
}
.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif {
    width: 100%;
}
.gif-div {
    position: relative;
    width: 100%;
}
.tint-div {
    position: absolute;
    top: 0px;
    z-index: 30;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.black-bar {
    background-color:black ;
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0%;
}
.section-logo-div {
    display: flex;
    position: absolute;
    z-index: 40;
    top: 2%;
    left: 27%;
}
.section-logo {
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    opacity: 100%;
}
.section-2 {
    background-color: black;
    padding-top: 3%;
}
.section2-headline-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}
.section2-headline {
    color: white;
    font-size: 90px;
    font-family: 'Montserrat';
    margin-left: 7.5%;
    font-weight: 600;
}
.section2-line {
    max-width: 1187px;
    width: 100%;
    background-color: white;
    height: 2px;
    margin-top: 20px;
    margin-left: 1%;
}
.images-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 3%;
}
.image-div {
    height: 375px;
    width: auto;
}
.section2-images {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}
.fa-chevron-right {
    color: white;
    font-size: 20px;
    margin-left: -4px;
    margin-right: 8px;
}
.section2-text {
    display: flex;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}
.section2-text:hover {
    color: #B80F14;
    transition: linear 0.3s;
}
.line-div {
    background-color: white;
    max-width: 1600px;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    margin-top: 20px;
}
footer {
    background-color: black;
}
.footer-wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 2px;
}
.footer-headline {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 73.1428571424px;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 70px;
}
.footer-icon-wrapper {
    max-width: 700px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 70.4285714288px;
}
.fa-brands {
    font-size: 42px;
    color: white;
    -webkit-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    transition: linear 0.3s;
}
.fa-brands:hover {
    color: #B80F14;
    cursor: pointer;
}
.footer-text-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.fa-copyright {
    margin-right: 5px;
}
.footer-text {
    color: white;
    font-family: 'Montserrat';
}
.footer-text:hover {
    color: #B80F14;
    cursor: pointer;
    transition: linear 0.3s;
}